.chew-row {
  /* Flex implementation */
  display: flex;
  flex-wrap: wrap; }
  .chew-row:after {
    /* Clearfix */
    content: "";
    display: table;
    clear: both; }
.chew-cell {
  /* Flex implementation */
  flex: 1;
  /* Float fallback */
  float: left;
  /* Trigger item wrapping with flexbox & float */
  min-width: 100px;
  /* Allow to add gutter */
  box-sizing: border-box;
  padding: 0 0; }
.chew-cell--ghost {
  /* Could be use to create ghost cells 
     And prevent your last item to expand
     And cover entirely the last row
  */
  visibility: hidden;
  height: 0; }
.chew-cell-card {
  /* Centered card */
  display: block;
  margin: 0 auto;
  max-width: 150px; }
