.chew-row {
  /* Flex implementation */
  display: flex;
  flex-wrap: wrap;
  /* Unset list styles */
  list-style: none;
  padding: 0;
  margin: 0; }
  .chew-row:after {
    /* Clearfix */
    content: "";
    display: table;
    clear: both; }
.chew-cell {
  /* Flex implementation */
  flex: 1;
  /* Make the card full height */
  display: flex;
  /* Float fallback */
  float: left;
  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
  padding: 1em;
  /* Flex implementation */
  flex-basis: auto;
  /* Float fallback */
  width: auto; }
.chew-cell.chew-cell--ghost {
  /* Could be use to create ghost cells 
     And prevent your last item to expand
     And cover entirely the last row
  */
  visibility: hidden;
  height: 0;
  padding: 0; }
.chew-card {
  /* Flex implementation */
  flex: 1;
  /* Centered card */
  display: block;
  margin: 0 auto;
  /* Trigger item wrapping with flexbox & float */
  min-width: 200px;
  max-width: 300px; }
