.chew-row {
  /* Flex implementation */
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  /* Inline-block fallback */
  letter-spacing: -0.31em;
  /* Collapse white-space */
  *letter-spacing: normal;
  /* IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 */
  text-rendering: optimizespeed;
  /* Webkit fix: source http://purecss.io/grids/  */
  /* Unset list styles */
  list-style: none;
  padding: 0;
  margin: 0; }
.chew-cell {
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  /* Reset white-space properties */
  letter-spacing: normal;
  *word-spacing: normal;
  /* IE < 8 */
  text-rendering: auto;
  /* Make the card full height */
  display: -ms-flex;
  display: flex;
  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
  padding: 0;
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: auto;
  /* Trigger item wrapping with flexbox & inline-block */
  min-width: 200px; }
.chew-cell.chew-cell--ghost {
  /* Could be use to create ghost cells 
     And prevent your last item to expand
     And cover entirely the last row
  */
  visibility: hidden;
  height: 0;
  padding: 0; }
.chew-card {
  /* Flex implementation */
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* Centered card */
  display: block;
  margin: 0 auto;
  max-width: 300px; }
