#mapado-plugin {
  /* Atomic column modifiers */
}
#mapado-plugin .chew-row {
  /* Flex implementation */
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  /* Inline-block fallback */
  letter-spacing: -0.31em;
  /* Collapse white-space */
  *letter-spacing: normal;
  /* IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /* Unset list styles */
  list-style: none;
  padding: 0;
  margin: 0;
}
#mapado-plugin .chew-cell {
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  /* Reset white-space properties */
  letter-spacing: normal;
  *word-spacing: normal;
  /* IE < 8 */
  /* Make the card full height */
  display: -ms-flex;
  display: flex;
  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
  padding: 0.5em;
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: auto;
  /* Trigger item wrapping with flexbox & inline-block */
  min-width: 600px;
}
#mapado-plugin .chew-cell.chew-cell--ghost {
  /* Could be use to create ghost cells 
     And prevent your last item to expand
     And cover entirely the last row
  */
  visibility: hidden;
  height: 0;
  padding: 0;
}
#mapado-plugin .chew-card {
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* Centered card */
  display: block;
  margin: 0 auto;
  max-width: none;
}
#mapado-plugin .chew-row--1 > .chew-cell {
  /* Max 1 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 100%;
}
#mapado-plugin .chew-row--2 > .chew-cell {
  /* Max 2 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 50%;
}
#mapado-plugin .chew-row--3 > .chew-cell {
  /* Max 3 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 33.33333%;
}
#mapado-plugin .chew-row--4 > .chew-cell {
  /* Max 4 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 25%;
}
#mapado-plugin .chew-row--thumb-l > .chew-cell {
  min-width: 600px;
}
@media (max-width: 2399px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 3 columns */
  }
  #mapado-plugin .chew-row--4.chew-row--thumb-l > .chew-cell {
    width: 33.33333%;
  }
}
@media (max-width: 1799px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 2 columns */
  }
  #mapado-plugin .chew-row--3.chew-row--thumb-l > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-l > .chew-cell {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 1 columns */
  }
  #mapado-plugin .chew-row--2.chew-row--thumb-l > .chew-cell, #mapado-plugin .chew-row--3.chew-row--thumb-l > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-l > .chew-cell, #mapado-plugin .chew-row--thumb-l > .chew-cell {
    width: 100%;
    /* 1 column fix: Reset the min-width */
    display: block;
    min-width: 0;
  }
}
#mapado-plugin .chew-row--thumb-m > .chew-cell {
  min-width: 525px;
}
@media (max-width: 2099px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 3 columns */
  }
  #mapado-plugin .chew-row--4.chew-row--thumb-m > .chew-cell {
    width: 33.33333%;
  }
}
@media (max-width: 1574px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 2 columns */
  }
  #mapado-plugin .chew-row--3.chew-row--thumb-m > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-m > .chew-cell {
    width: 50%;
  }
}
@media (max-width: 1049px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 1 columns */
  }
  #mapado-plugin .chew-row--2.chew-row--thumb-m > .chew-cell, #mapado-plugin .chew-row--3.chew-row--thumb-m > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-m > .chew-cell, #mapado-plugin .chew-row--thumb-m > .chew-cell {
    width: 100%;
    /* 1 column fix: Reset the min-width */
    display: block;
    min-width: 0;
  }
}
#mapado-plugin .chew-row--thumb-s > .chew-cell {
  min-width: 450px;
}
@media (max-width: 1799px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 3 columns */
  }
  #mapado-plugin .chew-row--4.chew-row--thumb-s > .chew-cell {
    width: 33.33333%;
  }
}
@media (max-width: 1349px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 2 columns */
  }
  #mapado-plugin .chew-row--3.chew-row--thumb-s > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-s > .chew-cell {
    width: 50%;
  }
}
@media (max-width: 899px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 1 columns */
  }
  #mapado-plugin .chew-row--2.chew-row--thumb-s > .chew-cell, #mapado-plugin .chew-row--3.chew-row--thumb-s > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-s > .chew-cell, #mapado-plugin .chew-row--thumb-s > .chew-cell {
    width: 100%;
    /* 1 column fix: Reset the min-width */
    display: block;
    min-width: 0;
  }
}
#mapado-plugin .chew-row--thumb-top > .chew-cell {
  min-width: 250px;
}
@media (max-width: 999px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 3 columns */
  }
  #mapado-plugin .chew-row--4.chew-row--thumb-top > .chew-cell {
    width: 33.33333%;
  }
}
@media (max-width: 749px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 2 columns */
  }
  #mapado-plugin .chew-row--3.chew-row--thumb-top > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-top > .chew-cell {
    width: 50%;
  }
}
@media (max-width: 499px) {
  #mapado-plugin {
    /* Responsive inline-block fallback */
    /* Screen support only 1 columns */
  }
  #mapado-plugin .chew-row--2.chew-row--thumb-top > .chew-cell, #mapado-plugin .chew-row--3.chew-row--thumb-top > .chew-cell, #mapado-plugin .chew-row--4.chew-row--thumb-top > .chew-cell, #mapado-plugin .chew-row--thumb-top > .chew-cell {
    width: 100%;
    /* 1 column fix: Reset the min-width */
    display: block;
    min-width: 0;
  }
}
