@mixin chew-row($cell-min-width: 200px, $cell-max-width: 300px, $cell-gutter: 0, $column-max-count: auto, $float-fallback: left, $prefix: 'chew-') 
{
    .#{$prefix} {
        &row {
            /* Flex implementation */
            display: flex;
            flex-wrap: wrap;
            
            &:after {
                /* Clearfix */
                content: "";
                display: table;
                clear: both;
            }
        }
        
        &cell {
            /* Flex implementation */
            flex: 1;
            @if ($column-max-count != auto) {
                flex-basis: 100% / $column-max-count;
            }
    
            /* Float fallback */
            float: $float-fallback;
            @if ($column-max-count != auto) {
                width: 100% / $column-max-count;
            }
    
            /* Trigger item wrapping with flexbox & float */
            min-width: $cell-min-width;
            
            /* Allow to add gutter */
            box-sizing: border-box;
            padding: 0 ($cell-gutter / 2);
        }

        &cell--ghost {
            /* Could be use to create ghost cells 
               And prevent your last item to expand
               And cover entirely the last row
            */
            visibility: hidden;
            height: 0;
        }

        &cell-card {
            /* Centered card */
            display: block;
            margin: 0 auto;
            max-width: $cell-max-width;
        }
    }
}