@mixin chewing-grid__cell()
{
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;

  /* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  margin-right: -0.31em;
  margin-bottom: -0.31em;
  
  /* Make the card full height */
  display: -ms-flex;
  display: flex;

  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
}

