
/* RESET */
body {
    padding-bottom: 3em;
    background: linear-gradient(to bottom, #E8EFFF, white 150px);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

/* DEMO GRIDS */
iframe {
    background: #f0f0f0;
    box-shadow: 0 0 3px rgba(11, 11, 11, 0.5) inset;
}

style[contenteditable] {
    font-family: monospace;
    white-space: pre-wrap;

    display: block;
    padding: 1em;
    border: 1px solid lightblue;
    background: white;
}
style[contenteditable]:focus {
    border-color: tomato;

}

/* GITHUB RIBBON */
.gh-ribbon {
    position: absolute;
    top: 0; right: 0; border: 0;
}

/* UTILS */
.rythm {
    margin-top: 0.5em;
}
.info {
    text-align: right;
    font-style: italic;
}