
/* RESET */
body {
    padding-bottom: 3em;
    background: white linear-gradient(to bottom, #E8EFFF, white 150px) repeat-x;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

/* LIVE DEMO */
.demo {
    background: #f0f0f0;
    box-shadow: 0 0 3px rgba(11, 11, 11, 0.5) inset;
}

.resizable {
    margin-right: 8%;
}

/* DEMO SETTING */
.control__label {
    display: inline-block;
    vertical-align: middle;
}

.control__input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    margin: 0.3rem 0;
    padding: 0.3rem;
    width: 60px;
}

/* GITHUB RIBBON */
.gh-ribbon {
    position: absolute;
    top: 0; right: 0; border: 0;
}
.gh-star {
    display: inline-block;
    width: 160px;
    height: 30px;
    border: 0;
    overflow: hidden;
    vertical-align: -0.05em;
}

/* UTILS */
.rythm {
    margin-top: 0.5em;
}
.info {
    text-align: right;
    font-style: italic;
}