body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

h1 {
    color: #000;
    font-size: 42px;
    font-weight: bold;
    margin: 15px 0 0;
}

h2 {
    color: #666;
    font-size: 26px;
    margin: 30px 0 0;
}