@mixin chewing-grid__cell()
{
  /* Flex implementation */
  flex: 1;
  
  /* Make the card full height */ 
  display: flex;

  /* Float fallback */
  float: left;

  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
}

