@mixin chewing-grid__cell()
{
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  
  /* Make the card full height */
  display: -ms-flex;
  display: flex;

  /* Float fallback */
  float: left;

  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
}

