// Atomic mixins
@import 'atomic/col.atomic';
@import 'atomic/gutter.atomic';
@import 'atomic/card-min.atomic';
@import 'atomic/card-max.atomic';

@function strip-unit($value)
{
  @return $value / ($value * 0 + 1);
}

@function generate-size-map($start: 1, $end: 10, $step: 1px)
{
  $map: ();
  @for $i from $start through $end {
    $map: map_merge($map, (strip-unit($i*$step): $i*$step));
  }
  @return $map;
}
