
/* Flex container */
.chew-row {
    display: flex;
    flex-wrap: wrap;
}
    /* Clearfix */
    .chew-row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Flex item */
.chew-cell {
    /* Flex implementation */
    flex: 1;

    /* Float fallback */
    float: left;
    
    /* Trigger item wrapping in every cases.
       Should be updated with your settings.
    */
    min-width: 200px;


    /* Allow to add gutter
       Should be updated with your settings.
    */
    box-sizing: border-box;
    padding: 0;
}
    /* Could be use to create ghost cells 
       And prevent your last item to expand
       And cover entirely the last row
    */
    .chew-cell--ghost {
        visibility: hidden;
        height: 0;
    }
    .chew-row--auto > .chew-cell {
        flex-basis: auto;
        width: auto;
    }
    .chew-row--2 > .chew-cell {
        flex-basis: 50%;
        width: 50%;
    }
    .chew-row--3 .chew-cell {
        flex-basis: 33.33%;
        width: 33.33%;
    }
    .chew-row--4 .chew-cell {
        flex-basis: 25%;
        width: 25%;
    }
    .chew-row--5 .chew-cell {
        flex-basis: 20%;
        width: 20%;
    }
    .chew-row--6 .chew-cell {
        flex-basis: 16.66%;
        width: 16.66%;
    }

/* Centered card */
.chew-card {
    display: block;
    margin: 0 auto;
    
    /* Should be updated with your settings. */
    max-width: 300px;
}