@mixin chew-cell($cell-min-width: 200px, $cell-gutter: 0, $float-fallback: left)
{
  /* Flex implementation */
  flex: 1;

  /* Float fallback */
  float: $float-fallback;

  /* Trigger item wrapping with flexbox & float */
  min-width: $cell-min-width;

  /* Allow to add gutter */
  box-sizing: border-box;
  padding: ($cell-gutter / 2);
}

